<div class="header">
  
    <app-boton class="btn"></app-boton>    
    <a href="" ><img class="imglogo"src="../../assets/logos/APLogo.png"></a> 
    <a href="https://github.com/sebacoden" ><img class="img" src="../../assets/logos/github.png"></a> 
    <a href="https://www.linkedin.com/in/sebastian-coden-03064b1bb/" ><img class="img" src="../../assets/logos/linkedin.png"></a> 
    <a href="" ><img class="img" src="../../assets/logos/instagram.png"></a> 
    <a href="./../assets/logos/Sebastian-Coden-CV.pdf" attributes-list download ><img class="img" src="../../assets/logos/downloads.png"></a> 


</div>
