<h2>Proyectos</h2>
<a href="https://drive.google.com/file/d/1DBIwUEN_-eiEcZGgvbsP-rVkqUzwhqVc/view?usp=sharing" ><h3>Editor de texto en C</h3></a>
<div>Pequeño editor de texto codeado en C con las funciones de editar, remplazar y agregar</div>
<div>año 2020 para la materia "Programación"</div>
<img class="" src="../../assets/proyectos/editext.png">

<a href="https://drive.google.com/file/d/1IMN9do7KgIlGFyHn2sH5CNKuGVLxdF3x/view?usp=sharing" ><h3>Instalador de impresoras</h3></a>
<div>Consiste en un archivo.bat que se encarga de instalar las impresoras utilizadas por el sistema Maxirest</div>
<div>año 2022 en Maxirest SRL</div>
<img class="" src="../../assets/proyectos/impresoras.png">

<a href="https://drive.google.com/file/d/19c1sDHfkcIgkWj1yzOMxUHib7M4Q5l77/view?usp=sharing" ><h3>Activar servicio Hasar</h3></a>
<div>Pequeño archivo.bat que se encarga de mantener activo el servicio Hasar utilizado por impresoras fiscales </div>
<div>año 2022 en Maxirest SRL</div>
<img class="" src="../../assets/proyectos/hasar.png">