<div class="title"> Soft and Hard Skilss</div>

<div class="barras">
    <p> Aprendizaje continuo</p>
    <p><ngb-progressbar [showValue]="true" type="success" [value]="90"></ngb-progressbar></p>
    <p> Preparación para asumir nuevos retos y responsabilidades</p>
    <p><ngb-progressbar [showValue]="true" type="success" [value]="75"></ngb-progressbar></p>

    <p> Independencia </p>
    <p><ngb-progressbar [showValue]="true" type="info" [value]="80"></ngb-progressbar></p>
    <p> Compromiso </p>
    <p><ngb-progressbar [showValue]="true" type="info" [value]="75"></ngb-progressbar></p>
<div>
    <p>Diseño</p>
    <p><ngb-progressbar [showValue]="true" type="warning" [value]="40" [max]="100"></ngb-progressbar></p>
</div>
<div>
    <p>Resolucion de problemas </p>
    <p><ngb-progressbar [showValue]="true" type="warning" [value]="75" [max]="100"></ngb-progressbar></p>
</div>
    <p>Comunicación con el superior inmediato</p>
    <p><ngb-progressbar [showValue]="true" type="danger" [value]="95" [max]="100"></ngb-progressbar></p>
    <p>Orientación al personal externo y/o interno</p>
    <p><ngb-progressbar [showValue]="true" type="danger" [value]="85" [max]="100"></ngb-progressbar></p>
</div>
