<div class="header">
    Datos personales
</div>
<table>
    <tbody>
        <ul Style="list-style-type: none" *ngFor = "let persona of personas"> 
            <li>Nombre: {{persona.nombre}}</li>
            <li>Fecha de nacimineto y lugar: {{persona.fecha}}</li>
            <li>Mail: {{persona.email}}</li>
            <li>Lugar de residencia: {{persona.recidencia}}</li>
            <li>Celular: {{persona.telefono}}</li>
            <li>DNi: {{persona.dni}}</li>
         </ul>
        
        
     </tbody>
    
</table>
   


